.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 0 auto 12px;
  max-width: 1024px;
}
.cart-container .item {
  border: 1px solid yellowgreen;
  border-radius: 8px;
  padding: 4px;
}
